{% extends 'index.html' %}
{% load static %}

{% block main %}
<div class="container text-center text-primary">
    <div style="padding: 30px;">
    <h1>About Us..</h1>
    <p>
    All In One Quiz Website is an sureshot website for all your study related issues.
    
    You’ll find the About Page at the top section of our_services page.
    
    This page has a unique feel.
    
    The great attention to detail and interactivity also reflect our sincerity towards our viewers.
    
    Through this we are providing awebsite which will have collectively all types of quizzes for all possible subjects
    so that their will be no time and energy wastage. 
    </p>
    </div>
</div>
{% endblock main %}