{% extends 'index.html' %}
{% load static %}

{% block main %}
<div class="container text-center text-secondry box">
    <div style="padding: 30px;">
        <h3 style="color: slategray;">Edit Profile</h3>
        <h1>Welcome {{name}} </h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
            {% endfor %}
            <input type="submit" name="Save">
        </form><br>
        <h4>See Profile  <a href="{% url 'profile' %}">profile</a></h4>
    </div>
</div>
{% endblock main %}