{% extends 'index.html' %}
{% load static %}


{% block main %}
<div class="container"  style="margin-top: 30px;">
<form class="main" action="" name="quiz" id="quiz">
    <div class="main-div">
        <p>Q1. In the rainy season, doors get swelled up due to:</p>
        <p><input type="radio" name="question1" value=" Transpiration">A. Transpiration</p>
        <p><input type="radio" name="question1" value="Imbibition">B. Imbibition</p>
        <p><input type="radio" name="question1" value="Diffusion">C. Diffusion</p>
        <p><input type="radio" name="question1" value="Respiration">D. Respiration</p>
    </div>

     <div class="main-div">
        <p>Q2. This statement regarding enzyme inhibition is correct:</p>
        <p><input type="radio" name="question2" value="non-competitive inhibitors often bind to the enzyme irreversibly">A. non-competitive inhibitors often bind to the enzyme irreversibly</p>
        <p><input type="radio" name="question2" value="non-competitive inhibition of an enzyme can be overcome by adding a large amountof substrate">B. non-competitive inhibition of an enzyme can be overcome by adding a large amountof substrate</p>
        <p><input type="radio" name="question2" value="competitive inhibition is observed when substrate and inhibitor compete for the active siteon enzyme">C. competitive inhibition is observed when substrate and inhibitor compete for the active site
on enzyme</p>
        <p><input type="radio" name="question2" value="competitive inhibition is observed when substrate competes with an enzyme to bind
to an inhibitor protein">D. competitive inhibition is observed when substrate competes with an enzyme to bind to an inhibitor protein</p>
    </div>

   <div class="main-div">
        <p>Q3. In C3 and C4 plants, primary carboxylation takes place with the help of:</p>
        <p><input type="radio" name="question3" value="PEP carboxylse and pyruvate carboxylase">A. PEP carboxylse and pyruvate carboxylase</p>
        <p><input type="radio" name="question3" value="RuBP carboxylase and PEP carboxylase">B. RuBP carboxylase and PEP carboxylase</p>
        <p><input type="radio" name="question3" value="PEP carboxylase and RuBP carboxylase">C. PEP carboxylase and RuBP carboxylase</p>
        <p><input type="radio" name="question3" value="RuBP carboxylase and pyruvate carboxylase">D. RuBP carboxylase and pyruvate carboxylase</p>
    </div>

    <div class="main-div">
        <p>Q4. Peroxisomes are involved in which type of reactions pertaining to plant photosynthesis?:</p>
        <p><input type="radio" name="question4" value="Calvin Cycle">A. Calvin Cycle</p>
        <p><input type="radio" name="question4" value="Glycolytic cycle">B. Glycolytic cycle</p>
        <p><input type="radio" name="question4" value="Glyoxylate cycle">C. Glyoxylate cycle</p>
        <p><input type="radio" name="question4" value="Bacterial photosynthesis">D. Bacterial photosynthesis</p>
    </div>

    <div class="main-div">
        <p>Q5. The fundamental feature of Kranz Anatomy of C4 plants is:</p>
        <p><input type="radio" name="question5" value="Presence of agranal chloroplasts in bundle sheath cells and granal chloroplasts in mesophyll cells">A. Presence of agranal chloroplasts in bundle sheath cells and granal chloroplasts in mesophyll cells</p>
        <p><input type="radio" name="question5" value="Presence of granal chloroplasts in bundle sheath cells and agranal chloroplasts in mesophyll cells">B. Presence of granal chloroplasts in bundle sheath cells and agranal chloroplasts in mesophyll cells</p>
        <p><input type="radio" name="question5" value="Presence of chloroplasts in epidermal and mesophyll cells">C. Presence of chloroplasts in epidermal and mesophyll cells</p>
        <p><input type="radio" name="question5" value="Presence of agranal chloroplasts in both mesophyll and bundle sheath cells">D. Presence of agranal chloroplasts in both mesophyll and bundle sheath cells</p>
    </div>

    <div class="main-div">
        <p>Q6. The statement which is incorrect with respect to enzyme action is:</p>
        <p><input type="radio" name="question6" value="Addition of a lot of succinates does not reverse the inhibition of succinic dehydrogenaseby malonate">A. Addition of a lot of succinates does not reverse the inhibition of succinic dehydrogenaseby malonate</p>
        <p><input type="radio" name="question6" value="the substrate binds with the enzyme as its active site">B. the substrate binds with the enzyme as its active site</p>
        <p><input type="radio" name="question6" value="a non-competitive inhibitor binds the enzyme at a site distinct from that which binds the subsrate">C. a non-competitive inhibitor binds the enzyme at a site distinct from that which binds the substrate</p>
        <p><input type="radio" name="question6" value="malonate is a competitive inhibitor of succinic dehydrogenase">D. malonate is a competitive inhibitor of succinic dehydrogenase</p>
    </div>

    <div class="main-div">
        <p>Q7. A phosphoglyceride is always composed of:</p>
        <p><input type="radio" name="question7" value=" only an unsaturated fatty acid esterified to a glycerol molecule to which a phosphatethe group is also attached">A.  only an unsaturated fatty acid esterified to a glycerol molecule to which a phosphatethe group is also attached</p>
        <p><input type="radio" name="question7" value="only a saturated fatty acid esterified to a glycerol molecule to which a phosphate group is also attached">B. only a saturated fatty acid esterified to a glycerol molecule to which a phosphate group is also attached</p>
        <p><input type="radio" name="question7" value="an unsaturated or saturated fatty acid esterified to a phosphate molecule to which aglycerol molecule is also attached">C. an unsaturated or saturated fatty acid esterified to a phosphate molecule to which aglycerol molecule is also attached</p>
        <p><input type="radio" name="question7" value="an unsaturated or saturated fatty acid esterified to a glycerol molecule to which a phosphate group is also attached">D. an unsaturated or saturated fatty acid esterified to a glycerol molecule to which a phosphate group is also attached</p>
    </div>

    <div class="main-div">
        <p>Q8. Macromolecule chitin is:</p>
        <p><input type="radio" name="question8" value="phosphorous containing polysaccharide">A. phosphorous containing polysaccharide</p>
        <p><input type="radio" name="question8" value="nitrogen containing polysaccharide">B. nitrogen containing polysaccharide</p>
        <p><input type="radio" name="question8" value="sulphur containing polysaccharid">C. sulphur containing polysaccharide</p>
        <p><input type="radio" name="question8" value="simple polysaccharide">D. simple polysaccharide</p>
    </div> 

    <div class="main-div">
        <p>Q9. This is a wrongly matched pair:</p>
        <p><input type="radio" name="question9" value="Alcohol – Nitrogenase">A. Alcohol – Nitrogenase</p>
        <p><input type="radio" name="question9" value="Detergents – Lipase">B. Detergents – Lipase</p>
        <p><input type="radio" name="question9" value="Textile – Amylase">C. Textile – Amylase</p>
        <p><input type="radio" name="question9" value="Fruit juice – Pectinase">D. Fruit juice – Pectinase</p>
    </div>

    <div class="main-div">
        <p>Q10. The most abundant protein in the animal world is:</p>
        <p><input type="radio" name="question10" value=" Trypsin">A.  Trypsin</p>
        <p><input type="radio" name="question10" value="Collagen">B. Collagen</p>
        <p><input type="radio" name="question10" value="Haemoglobin">C. Haemoglobin</p>
        <p><input type="radio" name="question10" value="Insulin">D. Insulin</p>
    </div>
    <input style="color: darkcyan;" type="button" name="" value="Submit" onclick="check()">
</form>
<p id="result"></p>
</div>
<script src="{% static 'js/plant.js' %}"></script>
{% endblock main %}